.footer {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.footer__map {
}

.footer__contact {
  padding: 33px 78px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px;
  }

}

.footer__hashtag {
  .title-bigger(bigger; 18px);
  text-decoration: solid;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  text-align: center;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__social-item {
  display: flex;
  justify-content: center;
  background-color: @blue;
  min-width: 48px;
  min-height: 48px;
  align-items: center;
  margin: 3px;
}

.footer__icon-vkontakte {
  display: flex;
  margin: auto;
  align-items: center;
}

.footer__icon-telegram {
  display: flex;
  margin: auto;
  align-items: center;
}

.footer__icon-youtube {
  display: flex;
  margin: auto;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__copyright-text {
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-right: 12px;
  }
}

.footer__copyright-link {
  display: inline-block;
  height: 34px;
  width: 27px;
}
