.footer {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.footer__map {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 350px;
  padding: 0;
  background-image: url("../img/map.jpg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  text-align: center;
}

.footer__contact {
  padding: 33px 78px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px;
  }

}

.footer__hashtag {
  .title-bigger(bigger; 18px);
  text-decoration: solid;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  text-align: center;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__social-item {
  display: flex;
  justify-content: center;
  background-color: @blue;
  min-width: 48px;
  min-height: 48px;
  align-items: center;
  margin: 3px;

  &:hover {
    cursor: pointer;
    background-color: rgba(102, 158, 192, 1);
  }

  &:active {
    background-color: rgba(84, 150, 189, 1);

    .footer__icon {
      opacity: 0.3;
    }
  }
}

.footer__link {
  display: flex;
  margin: auto;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__copyright-text {
  text-align: center;

  &:hover {
    cursor: pointer;
    color: @blue;
  }

  &:active {
    color:  rgba(179, 179, 179, 1);
  }

  @media (min-width: @tablet-width) {
    margin-right: 12px;
  }
}

.footer__copyright-link {
  display: inline-block;
  height: 34px;
  width: 27px;

  &:hover {
    .footer__logo-academy {
      fill: @blue;
    }
  }

  &:active {
    .footer__logo-academy {
      fill: rgba(179, 179, 179, 1);
    }
  }
}
