.form {

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 50px auto 0;
  border-style: none;
  padding: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: auto;
    &:nth-child(n+3) {
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: flex-start;
      width: 100%;
    }
    &:nth-child(1) {
      margin: 0;
      margin-left: auto;
      margin-right: 28px;
    }
    &:nth-child(2) {
      margin: 0;
      margin-right: auto;
      margin-left: 28px;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(n+3) {
      width: 960px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

.form__fieldset-legend {
  .title;
  text-align: center;
  margin-bottom: 28px;
}

.form__button-container {
  text-align: right;
  margin: 0 auto;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    margin: 48px auto 64px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
  }
}
