.gallery {
}

.gallery__header {
  padding: 30px 20px 17px;
  text-align: center;
}

.gallery__title {
  margin: 0;
}

.gallery__description {
  margin: 0;
  margin-top: 20px;
}

.gallery__container {
  margin: 0;
}

.gallery__record {
  padding: 17px 20px 0;
  text-align: center;
}

.gallery__record-title {}

.gallery__record-description {
  margin-top: 30px;
}
