.header {
  display: flex;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  position: relative;
}

.header__logo {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.header__nav {
  display: block;
  margin: 17px 25px;
}

.header__burger {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  background-color: @blue;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 56px;
    margin: 0 auto;
    background: none;
    z-index: 1;
  }
}

.header__item {
  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 153px;
    &:nth-child(2) {
      margin-right: 153px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 240px;
    &:nth-child(2) {
      margin-right: 240px;
    }
  }
}

.header__link {
  display: block;
  text-decoration: none;
  padding: 17px 20px 17px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  .title (@white);

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: @black;
    box-shadow: none;
  }
}
