.hero {
  background-color: @black;
  background-image: url("../img/hero-background.jpg"), url("../img/hero-welcome-down.svg");
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding: 90px 19px 85px;
  margin-top: -40px;
}

.hero__welcome {}
