.label-form {
}

.label-form__description {}

.label-form__input {
  .title;
  text-transform: none;
  display: block;
  background-color: @input;
  border: none;
  min-width: auto;
  padding: 16px;
}

.label-form__icon {}

.label-form__radio {
  width: 46px;
  height: 46px;
}

.label-form__title {
  .title;
  text-transform: none;
}

.label-form__mark {
  border: none;
  width: 46px;
  height: 46px;
}

.label-form__text {
  padding: 0;
  background-color: @input;
  border: none;
  min-width: 280px;
  min-height: 150px;
}
