.label-form {
}

.label-form__description {
  margin-left: 16px;
}

.label-form__input {
  .title;
  margin-bottom: 16px;
  text-transform: none;
  display: block;
  background-color: @input;
  border: none;
  padding: 16px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-width: 295px;
  }

  @media (min-width: @desktop-width) {
    min-width: 430px;
  }
}

.label-form__icon {}

.label-form__radio {
  width: 46px;
  height: 46px;
}

.label-form__title {
  .title;
  text-transform: none;
}

.label-form__mark {
  border: none;
  width: 46px;
  height: 46px;
}

.label-form__text {
  padding: 0;
  background-color: @input;
  border: none;
  width: 280px;
  min-height: 150px;

  @media (min-width: @tablet-width) {
    width: 648px;
    min-height: 160px;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
  }
}
