.review {
}

.review__header {
  margin: 0 auto;
  padding: 36px 20px 28px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 436px;
    padding: 36px 160px 28px;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 382px 28px;
  }
}

.review__title {
  .title;
  text-align: center;
  margin: 0;
}

.review__description {
  text-align: center;
  margin: 0;
  margin-top: 24px;
}

.review__form {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {

  }
}
