.search-hotel {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search-hotel__container {
  padding: 38px 29px 32px;

  @media (min-width: @tablet-width) {
    padding: 60px 166px 44px;
  }
}

.search-hotel__title {
  margin: 0;
  .title-bigger(bigger; 18px);
}

.search-hotel__description {
  margin: 0;
  margin-top: 20px;
}

.search-hotel__link {
  .title-bigger(bigger; 18px);
  display: block;
  box-sizing: border-box;
  background-color: @blue;
  color: @white;
  padding: 16px 20px;
  margin: 0 auto 49px;
  width: 284px;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
  }
}
