.search-hotel {
  text-align: center;
  box-sizing: border-box;
  padding: 39px 29px 32px;
}

.search-hotel__title {
  margin: 0;
  .title-bigger(bigger; 18px);
}

.search-hotel__description {
  margin: 0;
  margin-top: 20px;
}

.search-hotel__link {
  .title-bigger(bigger; 18px);
  display: block;
  box-sizing: border-box;
  background-color: @blue;
  color: @white;
  padding: 16px 20px;
  margin: 32px 18px 18px 0;
  min-width: 260px;
}
