img {
  max-width: 100%;
  height: auto;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  min-height: 100%;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}
main {
  flex-grow: 1;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  margin: 0 auto;
  width: 100%;
}
.advantages__header {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px 18px;
}
@media (min-width: 768px) {
  .advantages__header {
    padding: 47px 124px 55px;
  }
}
.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.advantages__title--color {
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
  }
}
.advantages__description {
  text-align: center;
  display: block;
  margin: 0;
  margin-top: 15px;
}
.advantages__description--color {
  color: #ffffff;
}
@media (min-width: 1200px) {
  .advantages__description {
    margin-top: 25px;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    flex-direction: row;
  }
}
.advantages__item {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
  }
  .advantages__item--full {
    width: 100%;
  }
}
.advantages__container {
  padding: 33px 18px 40px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .advantages__container {
    min-height: 256px;
    width: 256px;
    padding: 52px 33px 31px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .advantages__container {
    width: 400px;
    padding: 52px 57px 51px;
  }
}
.advantages__container--blue {
  background-color: #81B3D2;
}
.advantages__container--grey {
  background-color: #EEEEEE;
}
@media (min-width: 768px) {
  .advantages__image {
    box-sizing: border-box;
    display: flex;
    min-height: 256px;
  }
}
.advantages__list-service {
  margin: 0;
  padding: 0 18px;
}
@media (min-width: 768px) {
  .advantages__list-service {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .advantages__list-service {
    margin: 0 auto;
  }
}
.button-likes {
  background-color: transparent;
  border: none;
}
.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  display: block;
  box-sizing: border-box;
  background-color: #81B3D2;
  margin: 0 auto;
  padding: 16px 20px;
  min-width: 280px;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button--disabled {
  pointer-events: none;
  cursor: default;
  background-color: #e5e5e5;
  color: #ffffff;
}
@media (min-width: 768px) {
  .button {
    margin: 0;
  }
}
.footer {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.footer__map {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 350px;
  padding: 0;
  background-image: url("../img/map.jpg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  text-align: center;
}
.footer__contact {
  padding: 33px 78px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px;
  }
}
.footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
@media (min-width: 768px) {
  .footer__social-list {
    margin: 0;
  }
}
.footer__social-item {
  display: flex;
  justify-content: center;
  background-color: #81B3D2;
  min-width: 48px;
  min-height: 48px;
  align-items: center;
  margin: 3px;
}
.footer__social-item:hover {
  cursor: pointer;
  background-color: #669ec0;
}
.footer__social-item:active {
  background-color: #5496bd;
}
.footer__social-item:active .footer__icon {
  opacity: 0.3;
}
.footer__link {
  display: flex;
  margin: auto;
  align-items: center;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin: 0;
  }
}
.footer__copyright-text {
  text-align: center;
}
.footer__copyright-text:hover {
  cursor: pointer;
  color: #81B3D2;
}
.footer__copyright-text:active {
  color: #b3b3b3;
}
@media (min-width: 768px) {
  .footer__copyright-text {
    margin-right: 12px;
  }
}
.footer__copyright-link {
  display: inline-block;
  height: 34px;
  width: 27px;
}
.footer__copyright-link:hover .footer__logo-academy {
  fill: #81B3D2;
}
.footer__copyright-link:active .footer__logo-academy {
  fill: #b3b3b3;
}
.gallery-list {
  list-style-type: none;
}
.gallery-list__item {
  box-sizing: border-box;
  padding: 25px 0;
}
@media (min-width: 768px) {
  .gallery-list__item {
    padding: 0;
  }
  .gallery-list__item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 1200px) {
  .gallery-list__item:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.gallery-list__item-image {
  margin: 0;
}
.gallery-list__item-container {
  text-align: left;
}
@media (min-width: 768px) {
  .gallery-list__item-container {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
  }
}
@media (min-width: 1200px) {
  .gallery-list__item-container {
    background-color: #000000;
    opacity: 0.3;
    color: #ffffff;
  }
}
.gallery-list__item-description {
  display: block;
}
.gallery-list__item-button {
  padding: 0;
  margin-right: 9px;
  margin-top: 11px;
}
.gallery {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .gallery {
    padding: 0;
  }
}
.gallery__header {
  margin: 0 auto;
  padding: 30px 0 17px;
}
@media (min-width: 768px) {
  .gallery__header {
    padding: 66px 95px 65px;
  }
}
@media (min-width: 1200px) {
  .gallery__header {
    padding: 100px 370px 65px;
  }
}
.gallery__title {
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 30px;
  }
}
.gallery__description {
  margin: 0;
  margin-top: 20px;
}
.gallery__container {
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .gallery__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.gallery__record {
  padding: 0;
  text-align: center;
  margin: 0 auto;
}
.gallery__record-title {
  margin: 0;
  margin-top: 58px;
}
@media (min-width: 768px) {
  .gallery__record-title {
    font-size: 30px;
  }
}
.gallery__record-description {
  margin: 25px 0 38px;
}
@media (min-width: 768px) {
  .gallery__record-description {
    margin: 25px 0 66px;
  }
}
.header {
  display: flex;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 56px;
  position: relative;
}
.header__logo {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.header__nav {
  display: block;
  margin: auto 5px;
  margin-left: auto;
}
.header__nav--closed .header__burger::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 17px;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  box-shadow: 0 8px 0 0 #81B3D2, 0 16px 0 0 #81B3D2;
}
.header__nav--closed .header__burger:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.6), 0 16px 0 0 rgba(129, 179, 210, 0.6);
}
.header__nav--closed .header__burger:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.3), 0 16px 0 0 rgba(129, 179, 210, 0.3);
}
.header__nav--opened .header__burger {
  top: 0;
  right: auto;
  left: 0;
}
.header__nav--opened .header__burger::before,
.header__nav--opened .header__burger::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 11px;
  width: 26px;
  height: 3px;
  background-color: #ffffff;
  z-index: 3;
}
.header__nav--opened .header__burger::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.header__nav--opened .header__burger::after {
  transform: rotate(-45deg);
}
.header__nav--opened .header__burger:hover::before,
.header__nav--opened .header__burger:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.header__nav--opened .header__burger:active::before,
.header__nav--opened .header__burger:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 767px) {
  .header__nav--closed .header__item {
    display: none;
  }
  .header__nav--nojs .header__burger {
    display: none;
  }
  .header__nav--opened .header__list::before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 4;
    width: 320px;
    height: 7px;
    box-shadow: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}
.header__nav--nojs .header__burger {
  display: none;
}
.header__nav--nojs .header__item {
  display: list-item;
}
.header__burger {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 24px;
  z-index: 3;
  position: relative;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  background-color: #81B3D2;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  list-style-type: none;
}
@media (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 56px;
    margin: 0 auto;
    background: none;
    z-index: 1;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .header__item:hover {
    background-color: #669ec0;
  }
  .header__item:active {
    background-color: #5496bd;
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  .header__item {
    display: inline-block;
    width: 153px;
  }
  .header__item:nth-child(2) {
    margin-right: 153px;
  }
}
@media (min-width: 1200px) {
  .header__item {
    width: 240px;
  }
  .header__item:nth-child(2) {
    margin-right: 240px;
  }
}
.header__link {
  display: block;
  text-decoration: none;
  padding: 17px 20px 17px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    box-shadow: none;
  }
  .header__link--current {
    color: #766357;
  }
}
.hero {
  box-sizing: border-box;
  width: 100%;
  padding: 90px 0 85px;
  background-color: #000000;
  background-image: url("../img/hero-background.jpg"), url("../img/hero-welcome-bottom.svg");
  background-position: 50% 30%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}
.label-form:hover .label-form__radio,
.label-form:hover .label-form__mark {
  background-color: #e5e5e5;
}
.label-form:active .label-form__radio,
.label-form:active .label-form__mark {
  background-color: #d5d5d5;
}
.label-form:active .label-form__radio::after,
.label-form:active .label-form__mark::after {
  opacity: 0.3;
}
.label-form__container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.label-form__description {
  display: block;
  margin-left: 16px;
  text-align: left;
}
.label-form__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 16px;
  text-transform: none;
  display: block;
  background-color: #F2F2F2;
  border: none;
  padding: 16px;
  box-sizing: border-box;
}
.label-form__input:hover {
  background-color: #e5e5e5;
}
.label-form__input:focus {
  background-color: #ffffff;
  outline: solid 4px #e5e5e5;
}
.label-form__input:not(:disabled):focus-visible + .label-form__radio {
  outline: #83B3D3 solid 3px;
}
.label-form__input:not(:disabled):focus-visible + .label-form__mark {
  outline: #83B3D3 solid 3px;
}
@media (min-width: 768px) {
  .label-form__input {
    min-width: 295px;
    margin: 0;
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .label-form__input {
    min-width: 430px;
  }
}
.label-form__input[type="radio"]:checked + .label-form__radio::after {
  display: block;
  position: relative;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #000000;
  border-radius: 50%;
  left: 15px;
  top: 15px;
}
.label-form__radio {
  position: relative;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  left: 0;
  top: 2px;
}
.label-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-transform: none;
  margin-left: 16px;
}
.label-form__input[type="checkbox"]:checked + .label-form__mark::after {
  display: block;
  position: relative;
  content: url("../img/tick.svg");
  width: 16px;
  height: 16px;
  left: 15px;
  top: 15px;
}
.label-form__mark {
  position: relative;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  left: 0;
  top: 2px;
}
.label-form__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-transform: none;
  box-sizing: border-box;
  padding: 16px;
  background-color: #F2F2F2;
  border: none;
  min-height: 150px;
  width: 100%;
  resize: none;
}
@media (min-width: 768px) {
  .label-form__text {
    width: 648px;
    min-height: 160px;
  }
}
@media (min-width: 1200px) {
  .label-form__text {
    width: 768px;
  }
}
.list-service {
  padding: 23px 18px 46px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .list-service {
    padding: 0;
  }
}
.list-service__item {
  padding-left: 65px;
}
.list-service__item--house {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
}
.list-service__item--food {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
}
.list-service__item--souvenir {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
}
@media (min-width: 768px) {
  .list-service__item {
    text-align: center;
    background-position: 90px 50px;
    background-size: 77px 72px;
    width: 256px;
    padding: 158px 33px 60px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .list-service__item {
    background-position: 160px 50px;
    background-size: 77px 72px;
    width: 400px;
    min-height: 330px;
    padding: 158px 33px 60px;
  }
}
.list-service__title {
  margin: 0;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .list-service__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
  }
}
.list-service__description {
  margin: 0;
}
.modal-error {
  display: none;
  padding: 45px 40px 35px;
  text-align: center;
}
.modal-error__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.modal-error__description {
  margin-top: 20px;
}
.modal-suksessfull {
  display: none;
  padding: 45px 40px 35px;
  text-align: center;
}
.modal-suksessfull__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.modal-suksessfull__description {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 50px auto 0;
  border-style: none;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .form__fieldset {
    width: auto;
  }
  .form__fieldset:nth-child(n+3) {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .form__fieldset:nth-child(1) {
    margin: 0;
    margin-right: 28px;
  }
  .form__fieldset:nth-child(2) {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .form__fieldset:nth-child(n+3) {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.form__fieldset-legend {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .form__fieldset-container {
    box-sizing: border-box;
    width: 224px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .form__fieldset-container {
    display: contents;
  }
}
.form__fieldset-container--radio {
  width: 280px;
  padding-right: 16px;
}
@media (min-width: 1200px) {
  .form__fieldset-container--radio {
    display: contents;
  }
}
.form__button-container {
  text-align: right;
  width: 100%;
}
@media (min-width: 768px) {
  .form__button-container {
    display: flex;
    margin: 48px auto 64px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .form__button-container {
    width: 768px;
  }
}
.review {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .review {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .review {
    padding: 0 120px;
  }
}
.review__header {
  margin: 0 auto;
  padding: 36px 0 28px;
}
@media (min-width: 768px) {
  .review__header {
    padding: 36px 106px 28px;
  }
}
@media (min-width: 1200px) {
  .review__header {
    padding: 36px 262px 28px;
  }
}
.review__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .review__title {
    font-size: 30px;
  }
}
.review__description {
  text-align: center;
  margin: 0;
  margin-top: 24px;
}
.search-hotel {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 38px 29px 49px;
}
@media (min-width: 768px) {
  .search-hotel {
    padding: 60px 155px 56px;
  }
}
@media (min-width: 1200px) {
  .search-hotel {
    padding: 60px 382px 66px;
  }
}
.search-hotel__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
}
.search-hotel__description {
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .search-hotel__description {
    margin-bottom: 45px;
  }
}
.search-hotel__link {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  background-color: #81B3D2;
  color: #ffffff;
  padding: 16px 20px;
  margin: 0 auto;
}
.search-hotel__link:hover {
  background-color: #669ec0;
}
.search-hotel__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.search-hotel__link--disabled {
  pointer-events: none;
  cursor: default;
  background-color: #e5e5e5;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */
